<div class="container">
  <h3 class="text-center">Philosophical Meditation</h3>
  <div class="row">
    <div class="col-md col-md-offset-1">
      <%= flash[:notice] %>
      <div class="well">
        <%= form_for @philmed do |f| %>
           <div class="form-group">
              <%= f.label :idea1, 'What important problems do other people still have?' %>
              <%= f.text_area :idea1, class: 'form-control' %>
           </div>
           <div class="form-group">
              <%= f.label :idea2, 'Where have I noticed problems in my life of relevance to others?' %>
              <%= f.text_area :idea2, class: 'form-control' %>
           </div>
           <div class="form-group">
              <%= f.label :idea3, 'What problems do I really care about solving for others?' %>
              <%= f.text_area :idea3, class: 'form-control' %>
           </div>
           <div class="form-group">
            <%= f.label :idea4, 'New insights from today? What did that teach you about what you want to change?' %>
            <%= f.text_area :idea4, class: 'form-control' %>
           </div>
          
          <div class="form-group">
	          <%= f.label :anxious1, 'Write down what you are anxious about – find at least 8 things. (Work – Relationships – Children/Parents – Health – Money – Things I have to do)' %>
	          <%= f.text_area :anxious1, class: 'form-control' %>
          </div>
          <div class="form-group">
          	<%= f.label :anxious2, 'What would happen to us if everything we’re dimly worried about really came to pass?' %>
          	<%= f.text_area :anxious2, class: 'form-control' %>
          </div>
          <div class="form-group">
          	<%= f.label :anxious3, 'What are the real dangers?' %>
          	<%= f.text_area :anxious3, class: 'form-control' %>
          </div>
          <div class="form-group">
          	<%= f.label :anxious4, 'How might we still be OK, even if it all fell apart? One by one, we should confront the worst – and see that it is, for the most part, very survivable.' %>
          	<%= f.text_area :anxious4, class: 'form-control' %>
          </div>
          <div class="form-group">
          	<%= f.label :anxious5, 'There’s practical unpacking: talk yourself through the practical challenge. What steps do you need to take? What needs to happen when?' %>
          	<%= f.text_area :anxious5, class: 'form-control' %>
          </div>
          <div class="form-group">
          	<%= f.label :anxious6, 'What do others need to do? It’s very useful to have a calm and sympathetic part of yourself (or a friend) listening in on the detailed description of what needs to be done to address an issue. It’s no longer merely an anxiety. It’s a set of steps. They might not all be easy – but at least you are clearer about what they are. ' %>
          	<%= f.text_area :anxious6, class: 'form-control' %>
          </div>
          <div class="form-group">
          	<%= f.label :anxious7, 'There’s also emotional unpacking: Talk yourself through an emotional challenge or set of doubts. Describe the feeling in more detail. What do you feel it points to?' %>
          	<%= f.text_area :anxious7, class: 'form-control' %>
          </div>
          <div class="form-group">
          	<%= f.label :anxious8, 'Imagine trying to piece it together for a very considerate friend.' %>
          	<%= f.text_area :anxious8, class: 'form-control' %>
          </div>

          <div class="form-group">
          	<%= f.label :upset1, 'We are far more vulnerable than we think and that life is constantly placing us in the line of fire of little arrows fired by people around us. As quickly as you can – and without bothering how petty, unreasonable or pretentious it might sound – write a list of current upsets. The more the better. How have others hurt you? What are you sad, distressed, nostalgic, wounded about?' %>
          	<%= f.text_area :upset1, class: 'form-control' %>
          </div>
          <div class="form-group">
          	<%= f.label :upset2, 'These are just starting points and every starting point is valid. Look at the your list. Select two ways people have hurt you that regularly preoccupy you – again without considering the objective merits of your irritation. What is it about these things that bothers you? Go into as much detail as possible. Imagine you are pouring your heart out to an extremely sympathetic and patient friend.' %>
          	<%= f.text_area :upset2, class: 'form-control' %>
          </div>
          <div class="form-group">
          	<%= f.label :upset3, 'Now ask yourself: If this had happened to a friend, how would you advise them? What might you say? The primary, crucial issue is to get clear about what is actually distressing us. We’re moving from vagueness to clarity.' %>
          	<%= f.text_area :upset3, class: 'form-control' %>
          </div>
          <div class="form-group">
          	<%= f.label :upset4, 'You’ve been hurt. It’s normal to be hurt. How have you been hurt?' %>
          	<%= f.text_area :upset4, class: 'form-control' %>
          </div>
          <div class="form-group">
          	<%= f.label :upset5, 'What good part of yourself feels in danger?' %>
          	<%= f.text_area :upset5, class: 'form-control' %>
          </div>
          <div class="form-group">
          	<%= f.label :upset6, 'How might a nice person have ended up doing what this person did to you? If they weren’t actively mean, what other explanations could there be for the hurt they have caused?' %>
          	<%= f.text_area :upset6, class: 'form-control' %>
          </div>
          <div class="form-group">
          	<%= f.label :upset7, 'If this were to carry on, what might be the catastrophe? What are you afraid might happen if this were to continue? What scared you about the incident?' %>
          	<%= f.text_area :upset7, class: 'form-control' %>
          </div>
          <div class="form-group">
          	<%= f.label :upset8, 'Have you been affected like this before? If you had to pin down an incident in the past that this somehow reminds you of, what would it be? Is there a pattern here?' %>
          	<%= f.text_area :upset8, class: 'form-control' %>
          </div>
          <div class="form-group">
          	<%= f.label :upset9, 'What might you be able to learn from this upset?' %>
          	<%= f.text_area :upset9, class: 'form-control' %>
          </div>
          
          <div class="form-group">
          	<%= f.label :excited1, 'If this attractive experience (it might be a view, a book, a place, a biography) could talk, what might it want to tell me? Who is it inviting me to be? If other parts of my life were more like this, how might things go?' %>
          	<%= f.text_area :excited1, class: 'form-control' %>
          </div>
          <div class="form-group">
          	<%= f.label :excited2, 'Anything that excites us, arouses our curiosity or yields a certain pleasure is providing data about something important missing or in short supply in our lives. Describe your excitement as if to a sympathetic, interested friend.' %>
          	<%= f.text_area :excited2, class: 'form-control' %>
          </div>
          <div class="form-group">
          	<%= f.label :excited3, 'If you could realistically change your life in certain ways: what would it be to change your life in the light of this?' %>
          	<%= f.text_area :excited3, class: 'form-control' %>
          </div>
          <div class="form-group">
          	<%= f.label :excited4, 'This exciting thing holds a clue to what is missing in your life; what might be missing?' %>
          	<%= f.text_area :excited4, class: 'form-control' %>
          </div>
          <div class="form-group">
          	<%= f.label :excited5, 'If this thing could talk, what might it tell me? If this thing could try to change my life, what changes might it advise?' %>
          	<%= f.text_area :excited5, class: 'form-control' %>
          </div>
          <div class="form-group">
          	<%= f.label :excited6, 'If other parts of my life were more like this, what might they be like? Pick the set of answers to one thing that now especially intrigues you.' %>
          	<%= f.text_area :excited6, class: 'form-control' %>
          </div>          
          
          <%= f.submit 'Submit', class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  </div>
</div>