<!DOCTYPE html>

<html>
    <head>
    </head>
    <body>
           <p> What important problems do other people still have?  <br/> <%= @idea1 %> </p>
           <p>Where have I noticed problems in my life of relevance to others? <br/> <%= @idea2 %> </p>
           <p>What problems do I really care about solving for others? 
           <br/><%= @idea3 %></p>
           <p>New insights from today? What did that teach you about what you want to change?<br/> <%= @idea4 %> </p>
       <br>
       <br>
           <p> Write down what you are anxious about – find at least 8 things. <br/> <%= @anxious1 %> </p>
           <p>What would happen to us if everything we’re dimly worried about really came to pass? <br/> <%= @anxious2 %> </p>
           <p>What are the real dangers? 
           <br/><%= @anxious3 %></p>
           <p>How might we still be OK, even if it all fell apart? <br/> <%= @anxious4 %> </p>
           <p>What steps do you need to take? What needs to happen when?<br/> <%= @anxious5 %> </p>
           <p>What do others need to do?<br/> 
           <%= @anxious6 %> </p>
           <p>Describe the feeling in more detail. What do you feel it points to? 
           <br/> <%= @anxious7 %> </p>
           <p>Imagine trying to piece it together for a very considerate friend. 
           <br/> <%= @anxious8 %> </p>
        <br>
        <br>
           <p> How have others hurt you? What are you sad, distressed, nostalgic, wounded about? <br/> <%= @upset1 %> </p>
           <p>What is it about these things that bothers you? <br/> <%= @upset2 %> </p>
           <p>If this had happened to a friend, how would you advise them? What might you say?  
           <br/><%= @upset3 %></p>
           <p>How have you been hurt? <br/> <%= @upset4 %> </p>
           <p>What good part of yourself feels in danger? <br/> <%= @upset5 %> </p>
           <p>How might a nice person have ended up doing what this person did to you? If they weren’t actively mean, what other explanations could there be for the hurt they have caused? <br/> 
               <%= @upset6 %> </p>
           <p>If this were to carry on, what might be the catastrophe? What are you afraid might happen if this were to continue? What scared you about the incident? 
           <br/> <%= @upset7 %> </p>
           <p>Have you been affected like this before? If you had to pin down an incident in the past that this somehow reminds you of, what would it be? Is there a pattern here? 
           <br/> <%= @upset8 %> </p>
           <p>What might you be able to learn from this upset? 
           <br/><%= @upset9 %> </p>
       <br>
       <br>
           <p> If this attractive experience (it might be a view, a book, a place, a biography) could talk, what might it want to tell me? Who is it inviting me to be? If other parts of my life were more like this, how might things go?  <br/> <%= @excited1 %> </p>
           <p>Anything that excites us, arouses our curiosity or yields a certain pleasure is providing data about something important missing or in short supply in our lives. Describe your excitement as if to a sympathetic, interested friend.  <br/> <%= @excited2 %> </p>
           <p>If you could realistically change your life in certain ways: what would it be to change your life in the light of this? 
           <br/><%= @excited3 %></p>
           <p>This exciting thing holds a clue to what is missing in your life; what might be missing? <br/> <%= @excited4 %> </p>
           <p>If this thing could talk, what might it tell me? If this thing could try to change my life, what changes might it advise? <br/> <%= @excited5 %> </p>
           <p>If other parts of my life were more like this, what might they be like? Pick the set of answers to one thing that now especially intrigues you.<br/> 
               <%= @excited6 %> </p>
               
        <br>

    </body> 
</html>